<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="LOKI" class="com.github.loki4j.logback.InstrumentedLokiJavaHttpAppender">
        <batchSize>1000</batchSize>
        <batchTimeoutMs>10000</batchTimeoutMs>
        <verbose>true</verbose>
        <encoder class="com.github.loki4j.logback.ProtobufEncoder">
            <label>
                <pattern>level.%level|host.${HOSTNAME}|app."my"app</pattern>
                <pairSeparator>|</pairSeparator>
                <keyValueSeparator>.</keyValueSeparator>
            </label>
            <message>
                <pattern>l=%level h=${HOSTNAME} c=%logger{20} t=%thread | %msg %ex</pattern>
            </message>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="LOKI" />
        <!--appender-ref ref="STDOUT" /-->
    </root>

</configuration>